
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NIPSS STAFF COOPERATIVE SOCIETY</title>
    <meta name="keywords" content="NIPSS STAFF COOPERATIVE SOCIETY">
    <meta name="Description" content="NIPSS STAFF COOPERATIVE SOCIETY">
    <meta name="title" content="NIPSS STAFF COOPERATIVE SOCIETY">
    <meta property="fb:app_id" content="000" />
    <meta property="og:type" content="NIPSS STAFF COOPERATIVE SOCIETY" />
    <meta property="og:url" content="https://www.nipsscoop.com/" />
    <meta property="og:title" content="NIPSS STAFF COOPERATIVE SOCIETY">
    <meta property="og:image" content="">
    <meta property="og:description" content="NIPSS STAFF COOPERATIVE SOCIETY">
    <link href="~/img/iconcooperative.png" rel="shortcut icon">
    <meta name="theme-color" content="#095613">
    <link rel="stylesheet" type="text/css" href="~/web/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/web/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/web/css/bsnav.min.css">
    <link rel="stylesheet" type="text/css" href="~/web/css/owl.css">
    <link rel="stylesheet" type="text/css" href="~/web/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/web/fonts/fonts/style.css">
    <link rel="stylesheet" type="text/css" href="~/web/css/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="~/web/css/jquery.fancybox.min.css">
    <!-- Slider Revolution CSS Files -->
    <link rel="stylesheet" type="text/css" href="~/web/revolution/css/settings.css">
    <link rel="stylesheet" type="text/css" href="~/web/revolution/css/layers.css">
    <link rel="stylesheet" type="text/css" href="~/web/revolution/css/navigation.css">
    <!-- light-box
        <link href="~/web/js/lightbox-jscss/css/lightgallery.css" rel="stylesheet">
        -->

        <style>
            .about_company_right .tab-content .tab-pane {
    font-size: 22px;
    color: #808080;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
}

        </style>
</head>

<body>

    <div class="page_wapper">
        <!---------page-wapper----->

        <header id="header" class="header header-style-v4">
            <div class="navbar navbar-expand-lg bsnav bsnav-sticky bsnav-sticky-slide">
                <div class="container">
                    <div class="site-logo ">
                        <a href="/"><img src="~/img/nipsscooperative.png" class="img-fluid" alt="logo" /></a>
                    </div>
                    <button class="navbar-toggler toggler-spring"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse">
                        <ul class="navbar_left navbar-nav navbar-mobile  ml-auto ">
                            <li class="menu-item nav-item">
                                <a class="nav-link link_hd first-child " href="/"> Home  </a>
                            </li>
                            <li class="menu-item nav-item">
                                <a class="nav-link link_hd first-child " href="#about"> About  </a>
                            </li>
                            <li class="menu-item nav-item">
                                <a class="nav-link link_hd first-child " href="#Executive"> Executive  </a>
                            </li>
                            <li class="menu-item nav-item">
                                <a class="nav-link link_hd first-child " href="#Contact"> Contact  </a>
                            </li>

                            <li class="menu-item nav-item">
                                <a class="nav-link link_hd first-child " asp-page="/Account/Login" asp-area=Identity> Member Login  </a>
                            </li>
                        </ul>


                    </div>
                </div>
            </div>
        </header>
        <main class="main">

            <!----slider-------->
            <div class="rev_slider_wrapper rev_type_three">
                <!-- the ID here will be used in the inline JavaScript below to initialize the slider -->
                <div id="rev_slider_2" class="rev_slider" data-version="5.4.5" style="display:none">
                    <ul>
                        <li data-index="rs-3045" data-transition="zoomout" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000" data-thumb="" data-rotate="0" data-fstransition="fade"
                            data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off" data-title="Intro" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9=""
                            data-param10="" data-description="">
                            <!-- MAIN IMAGE -->
                            <img src="~/img/coperate.jpg" alt="" width="1920" height="850" data-lazyload="/img/coperate.jpg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="14" class="rev-slidebg" data-no-retina>


                            <!-- LAYER NR. 2 -->
                            <div class="tp-caption titel-1   tp-resizeme" id="slide-3049045-layer-2" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-90','-90','-60','-50']" data-fontsize="['120','120','80','50']"
                                 data-width="['auto','auto','auto','auto']" data-height="['auto','auto','auto','auto']" data-transform_idle="o:1;" data-transform_in="x:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                                 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-start="3000" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 7; white-space: nowrap;  line-height: 130px; text-transform: uppercase;background-color:#0b5814;padding:5px;border-radius:5px;">
                                NIPSS COOPERATIVE

                            </div>
                            <!-- LAYER NR. 3 -->
                            <div class="tp-caption titel-1   tp-resizeme" id="slide-3049045-layer-3" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['15','15','15','15']" data-width="['auto','auto','auto','auto']"
                                 data-height="['auto','auto','auto','auto']" data-transform_idle="o:1;" data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                                 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-start="4000" data-splitin="none" data-splitout="none" data-fontsize="['30','30','30','25']" data-responsive_offset="on" style="z-index: 8; white-space: nowrap; line-height: 60px;background-color:#0b5814;padding:5px;border-radius:5px;">
                                ...towards Self- Empowerment
                            </div>


                        </li>


                        <li data-index="rs-3046" data-transition="zoomout" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000" data-thumb="" data-rotate="0" data-fstransition="fade"
                            data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off" data-title="Intro" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9=""
                            data-param10="" data-description="">
                            <!-- MAIN IMAGE -->
                            <img src="~/img/cop2.jpg" alt="" width="1920" height="850" data-lazyload="/img/cop2.jpg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="14" class="rev-slidebg" data-no-retina>


                            <!-- LAYER NR. 2 -->
                            <div class="tp-caption titel-1   tp-resizeme" id="slide-3049046-layer-2" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-90','-90','-60','-50']" data-fontsize="['120','120','80','50']"
                                 data-width="['auto','auto','auto','auto']" data-height="['auto','auto','auto','auto']" data-transform_idle="o:1;" data-transform_in="x:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                                 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-start="3000" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 7; white-space: nowrap;  line-height: 130px; text-transform: uppercase;background-color:#0b5814;padding:5px;border-radius:5px;">
                                NIPSS COOPERATIVE

                            </div>
                            <!-- LAYER NR. 3 -->
                            <div class="tp-caption titel-1   tp-resizeme" id="slide-3049046-layer-3" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['15','15','15','15']" data-width="['auto','auto','auto','auto']"
                                 data-height="['auto','auto','auto','auto']" data-transform_idle="o:1;" data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                                 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-start="4000" data-splitin="none" data-splitout="none" data-fontsize="['30','30','30','25']" data-responsive_offset="on" style="z-index: 8; white-space: nowrap; line-height: 60px;background-color:#0b5814;padding:5px;border-radius:5px;">
                                To be a model Cooperative in Economic Empowerment in the 21st Century

                            </div>


                        </li>


                        <li data-index="rs-3047" data-transition="zoomout" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000" data-thumb="" data-rotate="0" data-fstransition="fade"
                            data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off" data-title="Intro" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9=""
                            data-param10="" data-description="">
                            <!-- MAIN IMAGE -->
                            <img src="~/img/coperate.jpg" alt="" width="1920" height="850" data-lazyload="/img/coperate.jpg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="14" class="rev-slidebg" data-no-retina>


                            <!-- LAYER NR. 2 -->
                            <div class="tp-caption titel-1   tp-resizeme" id="slide-3049047-layer-2" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-90','-90','-60','-50']" data-fontsize="['120','120','80','50']"
                                 data-width="['auto','auto','auto','auto']" data-height="['auto','auto','auto','auto']" data-transform_idle="o:1;" data-transform_in="x:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                                 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-start="3000" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 7; white-space: nowrap;  line-height: 130px; text-transform: uppercase;background-color:#0b5814;padding:5px;border-radius:5px;">
                                NIPSS COOPERATIVE

                            </div>
                            <!-- LAYER NR. 3 -->
                            <div class="tp-caption titel-1   tp-resizeme" id="slide-3049047-layer-3" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['15','15','15','15']" data-width="['auto','auto','auto','auto']"
                                 data-height="['auto','auto','auto','auto']" data-transform_idle="o:1;" data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                                 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-start="4000" data-splitin="none" data-splitout="none" data-fontsize="['30','30','30','25']" data-responsive_offset="on" style="z-index: 8; white-space: nowrap; line-height: 60px;background-color:#0b5814;padding:5px;border-radius:5px;">
                                To ensure members welfare and financial Self- Reliance


                            </div>


                        </li>





                    </ul>
                </div>
            </div>


            <section class="about about_type_four" id="about">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="heading single">

                                <h1>ABOUT US</h1>

                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="about_inner_fr">
                                <img src="~/img/c.jpg" class="img-fluid" />

                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="about_content">

                                <div class="icon_box_outer tp_two">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12" style="padding-left:25px;">

                                            <ul style="text-align: justify;font-weight: 700;">
                                                <li style="list-style: disc;">
                                                    To provide platform for members to maximize their potentials using relevant trainings, information technology and synergies to attain the objectives of the Cooperative.
                                                </li>
                                                <li style="list-style: disc;">
                                                    To have a functional Secretariat equipped to deliver effective and qualitative services to its member. Integrating all aspect of the Cooperation.
                                                </li>
                                                <li style="list-style: disc;">
                                                    To improve and have advocacy on relevant issues concerning insurance. To develop suitable professional curriculum for training, education, examination and award of its Member.
                                                </li>
                                                <li style="list-style: disc;">
                                                    To have a library system that will facilitate the dissemination of continuous knowledge and research.
                                                </li>
                                                <li style="list-style: disc;">
                                                    To attract, retrain, reward and retain competent workforce and management at the Secretariat.
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="about about_our_comapny">
                <div class="container">
                    <div class="row">


                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="about_company_right">
                                <ul class="nav nav-tabs" id="company_text" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="mission-tab" data-toggle="tab" href="#mission" role="tab" aria-controls="mission" aria-selected="true">
                                            <div class="mission">
                                                <span class="icon-mountain"></span>
                                                <h2>Mission</h2>
                                            </div>
                                        </a>
                                    </li>

                                </ul>
                                <div class="tab-content" id="company_textContent">
                                    <div class="tab-pane fade show active" id="mission" role="tabpanel" aria-labelledby="mission-tab">To ensure members welfare and financial Self- Reliance</div>
                                </div>
                            </div>
                        </div>


                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="about_company_right">
                                <ul class="nav nav-tabs" id="company_text" role="tablist">

                                    <li class="nav-item">
                                        <a class="nav-link active" id="Vision-tab" data-toggle="tab" href="#Vision" role="tab" aria-controls="Vision" aria-selected="false">
                                            <div class="mission">
                                                <span class="icon-vision"></span>
                                                <h2>Vision</h2>
                                            </div>
                                        </a>
                                    </li>

                                </ul>
                                <div class="tab-content" id="company_textContent">
                                    <div class="tab-pane fade show active" id="Vision" role="tabpanel" aria-labelledby="Vision-tab">
                                        To be a model Cooperative in Economic Empowerment in the 21st Century

                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="about_company_right">
                                <ul class="nav nav-tabs" id="company_text" role="tablist">


                                    <li class="nav-item">
                                        <a class="nav-link active" id="Values-tab" data-toggle="tab" href="#Values" role="tab" aria-controls="Values" aria-selected="false">
                                            <div class="mission">
                                                <span class="icon-value"></span>
                                                <h2>Motto</h2>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                                <div class="tab-content" id="company_textContent">
                                    <div class="tab-pane fade show active" id="Values" role="tabpanel" aria-labelledby="Values-tab">
                                        ... towards Self- Empowerment
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </section>
            <!----testimonial_type_three------->
            <section class="testimonial_all tp_five" id="Executive">
                <div class="container">
                     <div class="row">
                     <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="heading single">

                                <h1>ABOUT US</h1>

                            </div>
                        </div>
                    </div>
                    <div class="row grid">
                        <div class="grid-sizer"></div>
                        <div class="grid-item col-lg-4 col-md-6 col-sm-6 col-xs-12">
                            <div class="testimonial_outer type_five">
                                <div class="image">
                                    <img src="~/img/3.jpg" class="img-fluid" alt="client">
                                </div>
                                <div class="content_inner">
                                   
                                    <div class="authour_name">
                                        <h2>PRESIDENT</h2>
                                        <p>Christopher Berim Maxwell
</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="grid-item col-lg-4 col-md-6 col-sm-6 col-xs-12">
                            <div class="testimonial_outer type_five">
                                <div class="image">
                                    <img src="~/img/8.jpg" class="img-fluid" alt="client">
                                </div>
                                <div class="content_inner">
                                    <div class="authour_name">
                                        <h2>VICE PRESIDENT </h2>
                                        <p>Mr. Joseph Itse
</p>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="grid-item col-lg-4 col-md-6 col-sm-6 col-xs-12">
                            <div class="testimonial_outer type_five">
                                <div class="image">
                                    <img src="~/img/7.jpg" class="img-fluid" alt="client">
                                </div>
                                <div class="content_inner">
                                   <div class="authour_name">
                                        <h2>
                                            GENERAL SECRETARY
                                        </h2>
                                        <p>Mr. Farouq M. Umar
</p>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="grid-item col-lg-4 col-md-6 col-sm-6 col-xs-12">
                            <div class="testimonial_outer type_five">
                                <div class="image">
                                    <img src="~/img/1.jpg" class="img-fluid" alt="client">
                                </div>
                                <div class="content_inner">
                                  <div class="authour_name">
                                        <h2>
                                           FINANCIAL SECRETARY
                                        </h2>
                                        <p>Mr. Moses Ikumawoyi
</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="grid-item col-lg-4 col-md-6 col-sm-6 col-xs-12">
                            <div class="testimonial_outer type_five">
                                <div class="image">
                                    <img src="~/img/2.jpg" class="img-fluid" alt="client">
                                </div>
                                <div class="content_inner">
                                    <div class="authour_name">
                                        <h2>
                                            ASST. GENERAL SECRETARY
                                            /PRO
                                        </h2>
                                        <p>Mr. Joshua Peter

</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                                                <div class="grid-item col-lg-4 col-md-6 col-sm-6 col-xs-12">
                            <div class="testimonial_outer type_five">
                                <div class="image">
                                    <img src="~/img/2.jpg" class="img-fluid" alt="client">
                                </div>
                                <div class="content_inner">
                                    <div class="authour_name">
                                        <h2>
                                            ASST. GENERAL SECRETARY
                                            /PRO
                                        </h2>
                                        <p>Mr. Joshua Peter

</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                                                <div class="grid-item col-lg-4 col-md-6 col-sm-6 col-xs-12">
                            <div class="testimonial_outer type_five">
                                <div class="image">
                                    <img src="~/img/4.jpg" class="img-fluid" alt="client">
                                </div>
                                <div class="content_inner">
                                    <div class="authour_name">
                                        <h2>
                                            TREASURER
                                        </h2>
                                        <p>Mrs. Sarah Benson Kigbu


</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item col-lg-4 col-md-6 col-sm-6 col-xs-12">
                            <div class="testimonial_outer type_five">
                                <div class="image">
                                    <img src="~/img/5.jpg" class="img-fluid" alt="client">
                                </div>
                                <div class="content_inner">
                                    <div class="authour_name">
                                        <h2>
                                           LEGAL ADVISER
                                        </h2>
                                        <p>
                                           Barr. Shekinah Yop Pam

                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item col-lg-4 col-md-6 col-sm-6 col-xs-12">
                            <div class="testimonial_outer type_five">
                                <div class="image">
                                    <img src="~/img/6.jpg" class="img-fluid" alt="client">
                                </div>
                                <div class="content_inner">
                                    <div class="authour_name">
                                        <h2>
                                            EX-OFFICIO
                                        </h2>
                                        <p>
                                          Dr. Catherine Maduagwu


                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </section>
            <!----testimonial_type_three------->
            <!----contact_type_three------->
            <section class="contant contact_type_three style_one">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-12 col-sm-12 bg_emergency">
                            <div class="project_consultation">

                                <div class="heading single">

                                   
                                    <h1>
                                       Contact Us
                                    </h1>

                                </div>
                               

                            </div>
                        </div>
                        <div class="col-lg-8 col-md-12 col-sm-12 bg_appointment">
                            <div class="form_appointment">
                                <form action="#">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <div class="form-group">
                                                <input type="text" name="name" placeholder="Your Name *">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <div class="form-group">
                                                <input type="text" name="email" placeholder="Email *">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <div class="form-group">
                                                <input type="text" name="phone" placeholder=" Phone (Optional)">
                                            </div>
                                        </div>
                                        
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <div class="form-group">
                                                <input type="text" name="address" placeholder="Address *">
                                            </div>
                                        </div>
                                       
                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                            <div class="form-group">
                                                <textarea name="message" placeholder="Additional Information... (Optional) " rows="3" required="required" data-error="Please, leave us a message."></textarea>
                                            </div>
                                        </div>
                                        <div class="col-lg-8 col-md-8 col-sm-12">
                                            <div class="form-group mg_top check_box">
                                                <input type="checkbox" id="test2">
                                                <label for="test2">Click here &amp; Submit to receive updates &amp; offers</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-12">
                                            <div class="form-group mg_top apbtn">
                                                <button class="theme_btn" type="submit">Submit Now</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
         

            <div class="address address_type_two style_one">
                <div class="container">

                    <div class="addres_box">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                                <div class="address_inner side">
                                    <div class="heading_add clearfix">
                                        <span class="icon-place1 "></span>
                                        <h2>Visit Our Office</h2>
                                    </div>
                                    <p>NIPSS, Kuru<br> Jos, Nigeria</p>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                                <div class="address_inner mid">
                                    <div class="heading_add clearfix">
                                        <span class="icon-time-call"></span>
                                        <h2>Make a Call</h2>
                                    </div>
                                    <p>+324 000 45 000 &amp; 01<br> Mon - Friday: 09.00am to 06.00pm</p>
                                    <a href="#">Get Call Back</a>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                                <div class="address_inner side">
                                    <div class="heading_add clearfix">
                                        <span class="icon-email"></span>
                                        <h2>Send Your Mail</h2>
                                    </div>
                                    <p>
                                        contact@nipsscoop.com
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--footer-->
            <section class="footer footer_type_four">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="footer_widgets ">
                                <div class="inner_widgets ">
                                    <div class="media_contact">
                                        <h2>Connect With Us</h2>
                                        <ul class="social_media">
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li>
                                                <a href="#"><i class="fa fa-twitter"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-skype"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        
                    </div>

                </div>
            </section>
            <!--footer-->
            <!--footer-->
            <section class="footer_last footer_last_type_four">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <p>Copyright © 2022 NIPSS COOPERATIVE, All Rights Reserved. Developed by <a href="http://exwhyzee.ng/">Exwhyzee Technologies</a></p>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <ul>
                                <li>
                                    <a href="#">Terms &amp; Conditions  </a>
                                </li>
                                <li>
                                    <a href="#"> Privacy Policy </a>
                                </li>
                               
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <!--footer-->


        </main>

        <a href="#" id="scroll" style="display: none;"><span class="icon-next-1"></span><i class=""></i></a>
        <!---------page-wapper----->
    </div>

    <!---------mbile-navbar----->
    <div class="bsnav-mobile">
        <div class="bsnav-mobile-overlay"></div>
        <div class="navbar">
            <button class="navbar-toggler toggler-spring mobile-toggler"><span class="fa fa-close"></span></button>
        </div>
    </div>
    <!---------mbile-navbar----->

    <script src="/web/js/jquery-3.3.1.min.js"></script>
    <script src="/web/js/bootstrap.min.js"></script>
    <script src="/web/js/bsnav.min.js"></script>
    <script src="/web/js/owl.js"></script>
    <!---Slider Revolution core JavaScript files ---->
    <script src="/web/revolution/js/jquery.themepunch.tools.min.js"></script>
    <script src="/web/revolution/js/jquery.themepunch.revolution.min.js"></script>
    <!-- Slider Revolution extension scripts. ONLY NEEDED FOR LOCAL TESTING-->
    <script src="/web/revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script src="/web/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
    <script src="/web/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="/web/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="/web/revolution/js/extensions/revolution.extension.migration.min.js"></script>
    <script src="/web/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script src="/web/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
    <script src="/web/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="/web/revolution/js/extensions/revolution.extension.video.min.js"></script>
    <!---filter-gallery-->
    <script src="/web/js/isotope.min.js"></script>
    <!---insta light-box-gallery    -->
    <script src="/web/js/jquery.fancybox.min.js"></script>
    <!---html5lightbox -->
    <script src="/web/js/html5lightbox.js"></script>
    <!---jquery-ui    -->
    <script src="/web/js/jquery-ui.js"></script>
    <!---jquery-ui    -->
    <script src="/web/js/masonry.pkgd.js"></script>
    <!--Google Map APi Key-->
    <script src="/web/https://maps.googleapis.com/maps/api/js?key=AIzaSyAHzPSV2jshbjI8fqnC_C4L08ffnj5EN3A"></script>
    <script src="/web/js/gmaps.js"></script>
    <script src="/web/js/map-script.js"></script>
    <!--End Google Map APi-->
    <script src="/web/js/validator.min.js"></script>
    <script src="/web/js/contact.js"></script>
    <script src="/web/js/custom.js"></script>

</body>



</html>

@RenderBody()
@await RenderSectionAsync("Scripts", required: false)
