
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NIPSS STAFF COOPERATIVE SOCIETY</title>
    <meta name="keywords" content="NIPSS STAFF COOPERATIVE SOCIETY">
    <meta name="Description" content="NIPSS STAFF COOPERATIVE SOCIETY">
    <meta name="title" content="NIPSS STAFF COOPERATIVE SOCIETY">
    <meta property="fb:app_id" content="000" />
    <meta property="og:type" content="NIPSS STAFF COOPERATIVE SOCIETY" />
    <meta property="og:url" content="https://www.nipsscoop.com/" />
    <meta property="og:title" content="NIPSS STAFF COOPERATIVE SOCIETY">
    <meta property="og:image" content="">
    <meta property="og:description" content="NIPSS STAFF COOPERATIVE SOCIETY">
    <link href="~/img/iconcooperative.png" rel="shortcut icon">
    <meta name="theme-color" content="#095613">
    <link rel="stylesheet" type="text/css" href="~/web/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/web/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/web/css/bsnav.min.css">
    <link rel="stylesheet" type="text/css" href="~/web/css/owl.css">
    <link rel="stylesheet" type="text/css" href="~/web/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/web/fonts/fonts/style.css">
    <link rel="stylesheet" type="text/css" href="~/web/css/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="~/web/css/jquery.fancybox.min.css">
    <!-- Slider Revolution CSS Files -->
    <link rel="stylesheet" type="text/css" href="~/web/revolution/css/settings.css">
    <link rel="stylesheet" type="text/css" href="~/web/revolution/css/layers.css">
    <link rel="stylesheet" type="text/css" href="~/web/revolution/css/navigation.css">
    <!-- light-box
        <link href="~/web/js/lightbox-jscss/css/lightgallery.css" rel="stylesheet">
        -->

    <style>
        .about_company_right .tab-content .tab-pane {
            font-size: 22px;
            color: #808080;
            line-height: 26px;
            font-weight: 700;
            text-align: center;
        }

    </style>
</head>

<body>

    <div class="page_wapper">
        <!---------page-wapper----->

        <header id="header" class="header header-style-v4">
            <div class="navbar navbar-expand-lg bsnav bsnav-sticky bsnav-sticky-slide">
                <div class="container">
                    <div class="site-logo ">
                        <a href="/"><img src="~/img/nipsscooperative.png" class="img-fluid" alt="logo" /></a>
                    </div>
                    <button class="navbar-toggler toggler-spring"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse">
                        <ul class="navbar_left navbar-nav navbar-mobile  ml-auto ">
                            <li class="menu-item nav-item">
                                <a class="nav-link link_hd first-child " href="/"> Home  </a>
                            </li>
                            <li class="menu-item nav-item">
                                <a class="nav-link link_hd first-child " href="/#about"> About  </a>
                            </li>
                            <li class="menu-item nav-item">
                                <a class="nav-link link_hd first-child " href="/#Executive"> Executive  </a>
                            </li>
                            <li class="menu-item nav-item">
                                <a class="nav-link link_hd first-child " href="/#Contact"> Contact  </a>
                            </li>

                            <li class="menu-item nav-item">
                                <a class="nav-link link_hd first-child " asp-page="/Account/Login" asp-area=Identity> Member Login  </a>
                            </li>
                        </ul>


                    </div>
                </div>
            </div>
        </header>

        <main class="main">


            @RenderBody()
            <div class="address address_type_two style_one">
                <div class="container">

                    <div class="addres_box">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                                <div class="address_inner side">
                                    <div class="heading_add clearfix">
                                        <span class="icon-place1 "></span>
                                        <h2>Visit Our Office</h2>
                                    </div>
                                    <p>NIPSS, Kuru<br> Jos, Nigeria</p>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                                <div class="address_inner mid">
                                    <div class="heading_add clearfix">
                                        <span class="icon-time-call"></span>
                                        <h2>Make a Call</h2>
                                    </div>
                                    <p>+324 000 45 000 &amp; 01<br> Mon - Friday: 09.00am to 06.00pm</p>
                                    <a href="#">Get Call Back</a>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                                <div class="address_inner side">
                                    <div class="heading_add clearfix">
                                        <span class="icon-email"></span>
                                        <h2>Send Your Mail</h2>
                                    </div>
                                    <p>
                                        contact@nipsscoop.com
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--footer-->
            <section class="footer footer_type_four">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="footer_widgets ">
                                <div class="inner_widgets ">
                                    <div class="media_contact">
                                        <h2>Connect With Us</h2>
                                        <ul class="social_media">
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li>
                                                <a href="#"><i class="fa fa-twitter"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-skype"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>

                </div>
            </section>
            <!--footer-->
            <!--footer-->
            <section class="footer_last footer_last_type_four">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <p>Copyright © 2022 NIPSS COOPERATIVE, All Rights Reserved. Developed by <a href="http://exwhyzee.ng/">Exwhyzee Technologies</a></p>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <ul>
                                <li>
                                    <a href="#">Terms &amp; Conditions  </a>
                                </li>
                                <li>
                                    <a href="#"> Privacy Policy </a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <!--footer-->


        </main>

        <a href="#" id="scroll" style="display: none;"><span class="icon-next-1"></span><i class=""></i></a>
        <!---------page-wapper----->
    </div>

    <!---------mbile-navbar----->
    <div class="bsnav-mobile">
        <div class="bsnav-mobile-overlay"></div>
        <div class="navbar">
            <button class="navbar-toggler toggler-spring mobile-toggler"><span class="fa fa-close"></span></button>
        </div>
    </div>
    <!---------mbile-navbar----->

    <script src="/web/js/jquery-3.3.1.min.js"></script>
    <script src="/web/js/bootstrap.min.js"></script>
    <script src="/web/js/bsnav.min.js"></script>
    <script src="/web/js/owl.js"></script>
    <!---Slider Revolution core JavaScript files ---->
    <script src="/web/revolution/js/jquery.themepunch.tools.min.js"></script>
    <script src="/web/revolution/js/jquery.themepunch.revolution.min.js"></script>
    <!-- Slider Revolution extension scripts. ONLY NEEDED FOR LOCAL TESTING-->
    <script src="/web/revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script src="/web/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
    <script src="/web/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="/web/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="/web/revolution/js/extensions/revolution.extension.migration.min.js"></script>
    <script src="/web/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script src="/web/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
    <script src="/web/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="/web/revolution/js/extensions/revolution.extension.video.min.js"></script>
    <!---filter-gallery-->
    <script src="/web/js/isotope.min.js"></script>
    <!---insta light-box-gallery    -->
    <script src="/web/js/jquery.fancybox.min.js"></script>
    <!---html5lightbox -->
    <script src="/web/js/html5lightbox.js"></script>
    <!---jquery-ui    -->
    <script src="/web/js/jquery-ui.js"></script>
    <!---jquery-ui    -->
    <script src="/web/js/masonry.pkgd.js"></script>
    <!--Google Map APi Key-->
    <script src="/web/https://maps.googleapis.com/maps/api/js?key=AIzaSyAHzPSV2jshbjI8fqnC_C4L08ffnj5EN3A"></script>
    <script src="/web/js/gmaps.js"></script>
    <script src="/web/js/map-script.js"></script>
    <!--End Google Map APi-->
    <script src="/web/js/validator.min.js"></script>
    <script src="/web/js/contact.js"></script>
    <script src="/web/js/custom.js"></script>

</body>



</html>

@await RenderSectionAsync("Scripts", required: false)
